@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sbk-green: #008751;
  --sbk-dark-green: #006b41;
}

@layer base {
  body {
    @apply text-gray-900 antialiased bg-gray-50;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium transition-colors;
  }
  
  .btn-primary {
    @apply bg-[--sbk-green] text-white hover:bg-[--sbk-dark-green];
  }
}

.mobile-menu {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  transform: translateX(0);
}